#pic2 {
	position: absolute; top: 8px; left: 20px;
}

#pic3 {
	position: absolute; top: 25px; right: 20px;
}

.center1 {
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 30%
}

.right {
	position: absolute;
	right: 0px;
	width: 300px;
}

.clearfix {
  overflow: auto;
}
