a:link {
	color:yellow;
	}
	
a:visited {
	color: pink;
	}
	
p {
	font-family: "Ariel", "Helvetica", sans-serif;
	<!-- Google fonts is easy --> 
	font-size: 14px;
	font-style: bold;
	}
	
body {
	background-color: silver;
	}
	
#pic2 {
	position: absolute; top: 10px; left: 10px;
}
	
.center1 {
  	display: block;
  	margin-left: auto;
	margin-right: auto;
	width: 30%;
}

.right {
	position: absolute;
	right: 0px;
	width: 300px;	
}

.clearfix {
  overflow: auto;
}