a:link {
	color:yellow;
	}
	
a:visited {
	color: pink;
	}
	
p {
	font-family: "Ariel", "Helvetica", sans-serif;
	<!-- Google fonts is easy --> 
	font-size: 14px;
	font-style: bold;
	}
	
body {
	background-color: silver;
	}
	
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}